@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #C73659;
    font-family: "Space Mono", monospace;
    font-weight: 700
}

body {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    opacity: 0.04;
    pointer-events: none;
}

.static {
    background-image: url("./assets/effects/scan.gif");
}

.scan {
    background-image: url("./assets/effects/static.gif");
}

.header {
    flex: 0 1 auto;

    display: flex;

    width: 100vw;
    height: fit-content;

    padding: 2rem
}

.header-left {
    width: 30rem;

    margin: auto 3rem auto 0;

}

#line {
    height: 2px;
    background-color: #A91D3A;
    border: none;
    margin: 0.5rem 0 0.5rem 0;
}

.content {
    flex: 1 1 auto;
    padding: 2rem 0 0 2rem;
}

#terminal {
    border: #A91D3A solid 4px;
    background-color: #0B0808;
    height: calc(100% - 2rem);
    min-height: 5rem;
    width: 70%;
    padding: 2rem 3rem;
}

#output {
    font-size: 1rem;
    white-space: pre-wrap;
}

#input {
    border: none;
    background: none;
    outline: none;

    width: 100%;
    font-size: 1rem;
}

span {
    display: flex; 
}

@media (max-width: 970px) {
    .header {
        padding: 2rem;

        flex-direction: column;
        font-size: small;
    }

    .header-left {
        width: min(100%, 30rem);
    
        margin: 0 0 2rem 0;
    }
    
    .content {
        padding: 2rem 0 0 2rem ;

    }

    #terminal {
        width: calc(100vw - 4rem);
        height: calc(100% - 2rem);
    }
}   